<ion-view view-title="Meus contatos">
	<div class="bar bar-subheader-app">
		<div class="item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" placeholder="Pesquisar" data-ng-model="vm.filter">
			</label>
		</div>
	</div>
	<ion-content class="has-subheader-app">
		<div class="list">
			<business-card class="item" card="businessCard" data-ng-repeat="businessCard in vm.businessCards | filter : vm.filter track by $index"></business-card>
		</div>
	</ion-content>
</ion-view>